/* Contenedor principal */
.contact {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #2c2c2c;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    font-family: sans-serif;
  }
  
  /* Título */
  .contact h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #d4af37;
  }
  
  /* Formulario */
  .contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
  /* Labels */
  .contact label {
    text-align: left;
    font-weight: bold;
  }
  
  /* Inputs y textarea */
  .contact input,
  .contact textarea {
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact textarea {
    height: 120px;
    resize: none;
  }
  
  /* Botón */
  .contact button {
    background: #d4af37;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .contact button:hover {
    background: #b88b2e;
  }  